body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

      
.bodyHome { background-color: #253237; }
/*
Estilos de la reproducción individual de videos
*/
.player-container{
  margin:0 2em;
}

.player-individual{
  height: 1200px;
  max-height: 1200px;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.player-individual::-webkit-scrollbar{
  display:none;
}
.content-player{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}
.scroll-list{
  grid-column: 2;
  margin-left: 2em;
}
.category-player{
  grid-column: 1;
  margin:0 2em;
  min-height:640px;
  max-height:80px;
}
.tabuladores-repro{
  grid-column: 2;
  margin: 0 2em;
  max-height: 50px;
  color:#00742c;
}
.break {
  grid-column: 1;
  margin:0 2em;
  max-height:10px;
}
/*
Estilos del chat en el reproductor individual de video
*/
.chat{
  position: fixed;
  bottom:0;
  left:2em;
  min-height: 640px;
  width:40%;
  grid-column:1;
  padding-bottom: 1em;
  background-color: transparent;
}
.chat-hidden{
  position: fixed;
  bottom:0;
  left:2em;
  height: 0;
  width:40%;
  grid-column:1;
  padding-bottom: 1em;
  background-color: transparent;
}
.chat-hidden .top-chat, .chat-hidden .chat-input{
  display:none;
}
.chat-min{
  position: fixed;
  bottom:0;
  left:2em;
  height: 30px;
  width:40%;
  grid-column:1;
  padding-bottom: 1em;
  background-color: transparent;
}
.content-chat{
  overflow-y: scroll;
  max-height: 500px;
  background-color: white;
}
/* width */
.content-chat::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.content-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
}
 
/* Handle */
.content-chat::-webkit-scrollbar-thumb {
  background: #00eb59; 
  border-radius: 2px;
}

/* Handle on hover */
.content-chat::-webkit-scrollbar-thumb:hover {
  background: #00742c; 
}
.chat-input{
  background-color: white;
  width:100%;
  display:grid;
  margin-top:1em;
  grid-template-columns: auto 100px;
}
.chat-input textarea{
  width:100%;
  height:97%;
  padding:0 1em;
  border-radius: 6px;
  grid-column: 1;
}
.chat-input .chat-input-actions{
  grid-column: 2;
  font-size: large;
  width:100%;
  text-align: right;
}
.chat-input .chat-input-actions button{
  color:white;
  background-color: cornflowerblue;
  border: none;
  width:3rem;
  height:3rem;
  font-size: x-large;
}
.origen-mensaje-chat{
  color:dimgray;
  font-size: small;
  display: grid;
  grid-template-columns: 2;
}
.origen-mensaje-chat span:nth-child(1){
  width:100%
}
.origen-mensaje-chat span:nth-child(2){
  width:95%;
  text-align:left;
  margin-right: 2em;
}
.mensaje-chat-other{
  background-color: #b5ffc2;
  border-radius: 0rem 2rem 2rem 0rem;
  margin:0 2em 2em 0;
  padding: .5em 1.5em .5em .5em;
  grid-column-start: 1;
  grid-column-end: 2;
}
.mensaje-chat-propio{
  background-color: #b0ebfa;
  border-radius: 2rem 0rem 0rem 2rem;
  margin:0 2em 2em 0;
  padding: .5em 1.5em .5em .5em;
  grid-column-start: 1;
  grid-column-end: 2;
}
.top-chat{
  height:80px;
  background:white;
  display: grid;
  grid-template-columns: 2;
  color:#009639;
}
.top-chat span{
  margin-right:.5em;
  width: 100%;
  text-align: right;
  grid-column: 2;
}
.top-chat p{
  text-align:left;
  grid-column: 1;
  width: 100%;
  font-size:small
}
.menu-personalizado{
  width: 100%;
  background:white;
  display:grid;
  grid-template-rows: auto auto auto;
}
.menu-personalizado div{
  text-indent: 0;
  width: 100%;
  border-bottom: 1px gray solid;
  cursor:pointer;
  background-color: white;
  padding:.3em;
}
.menu-personalizado div:hover{
  background-color: blanchedalmond;
}
.menu-personalizado div:nth-child(3){
  border-bottom: none;
}
/*
Estilos de las categorías en el reproductor individual de video
*/
.category-wrapper {
  width: 100%;
  height: 100%;
  background: 'white';
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.category-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.category-item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}




