:root {
  --numDays: 7;
  --numHours: 35;
  --timeHeight: 60px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




/*
Estilos de la reproducción individual de videos
*/
.player-container {
  margin: 0 2em;
}
.acciones-reproduccion{
  min-height: 35px;
  cursor: pointer;
  margin:20px 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 18.5%;
  gap:5px;

}
.item-acciones-repro{
  cursor: pointer;
  border-left: 1px solid gray;
  padding:0 1em;
}
.item-acciones-repro span{
  padding-left: 1em;
}
.item-acciones-repro:nth-child(5){
  border-right: 1px solid gray;
  padding-right:0;
}
.player-individual {
  height: 1200px;
  max-height: 1200px;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.player-individual::-webkit-scrollbar {
  display: none;
}

.content-player {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.scroll-list {
  grid-column: 2;
  margin-left: 2em;
}

.tabuladores-repro {
  grid-column: 2;
  margin: 1em 2em;
  max-height: 70px;
  color: #00742c;
}

.break {
  grid-column: 1;
  margin: 0 2em;
  max-height: 10px;
}

/*
Estilos del chat en el reproductor individual de video
*/
.chat {
  position: fixed;
  bottom: 0;
  left: 2em;
  min-height: 640px;
  width: 40%;
  grid-column: 1;
  padding-bottom: 1em;
  background-color: transparent;
}

.chat-hidden {
  position: fixed;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 40%;
  grid-column: 1;
  padding-bottom: 1em;
  background-color: transparent;
}

.chat-hidden .top-chat,
.chat-hidden .chat-input,
.chat-hidden .content-chat {
  display: none;
}

.chat-min {
  position: fixed;
  bottom: 0;
  left: 2em;
  height: 30px;
  width: 40%;
  grid-column: 1;
  padding-bottom: 1em;
  background-color: transparent;
}

.content-chat {
  overflow-y: scroll;
  max-height: 500px;
  background-color: white;
}

/* width */
.content-chat::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.content-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
.content-chat::-webkit-scrollbar-thumb {
  background: #00eb59;
  border-radius: 2px;
}

/* Handle on hover */
.content-chat::-webkit-scrollbar-thumb:hover {
  background: #00742c;
}

.chat-input {
  background-color: white;
  width: 100%;
  display: grid;
  margin-top: 1em;
  grid-template-columns: auto 100px;
}

.chat-input textarea {
  width: 100%;
  height: 97%;
  padding: 0 1em;
  border-radius: 6px;
  grid-column: 1;
}

.chat-input .chat-input-actions {
  grid-column: 2;
  font-size: large;
  width: 100%;
  text-align: right;
}

.chat-input .chat-input-actions button {
  color: white;
  background-color: cornflowerblue;
  border: none;
  width: 3rem;
  height: 3rem;
  font-size: x-large;
}

.origen-mensaje-chat {
  color: dimgray;
  font-size: small;
  display: grid;
  grid-template-columns: 2;
}

.origen-mensaje-chat span:nth-child(1) {
  width: 100%
}

.origen-mensaje-chat span:nth-child(2) {
  width: 95%;
  text-align: left;
  margin-right: 2em;
}

.mensaje-chat-other {
  background-color: #b5ffc2;
  border-radius: 0rem 2rem 2rem 0rem;
  margin: 0 2em 2em 0;
  padding: .5em 1.5em .5em .5em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.mensaje-chat-propio {
  background-color: #b0ebfa;
  border-radius: 2rem 0rem 0rem 2rem;
  margin: 0 2em 2em 0;
  padding: .5em 1.5em .5em .5em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.top-chat {
  height: 80px;
  background: white;
  display: grid;
  grid-template-columns: 2;
  color: #009639;
  cursor: pointer;
}

.top-chat span {
  margin-right: .5em;
  width: 100%;
  text-align: right;
  grid-column: 2;
}

.top-chat p {
  text-align: left;
  grid-column: 1;
  width: 100%;
  font-size: small
}

.menu-personalizado {
  width: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto auto auto;
}

.menu-personalizado div {
  text-indent: 0;
  width: 100%;
  border-bottom: 1px gray solid;
  cursor: pointer;
  background-color: white;
  padding: .3em;
}

.menu-personalizado div:hover {
  background-color: blanchedalmond;
}

.menu-personalizado div:nth-child(3) {
  border-bottom: none;
}

/*
Estilos de las categorías en el reproductor individual de video
*/
.category-player {
  grid-column: 1;
  margin: 0 2em;
  min-height: 640px;
  max-height: 640px;
}

.category-wrapper {
  width: 100%;
  height: 100%;
  background: 'white';
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.category-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.category-item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}

/*
Estilos de los eventos en la reproducción individual de video
*/
.header-evento {
  display: grid;
  grid-template-columns: 85px 80px 60px 200px;
  width: 400px;
  font-size: x-large;
  text-align: center;
}

.header-evento-hidden {
  display: none;
}

.header-evento h3 div {
  display: inline-block
}

.control-evento-reproduccion {
  display: grid;
  grid-template-columns: auto auto;
}
.control-evento-reproduccion a{
  text-decoration: none;
  color:black;
}

.control-evento-reproduccion div {
  width: 88%;
}

.control-evento-reproduccion div:nth-child(2) {
  text-align: right;
}

.eventos-titulo {
  display: grid;
  grid-template-rows: auto auto;
  position: relative;
}

.eventos-titulo div {
  margin: auto;
  grid-row: 2;
}

.eventos-titulo img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  height: 200px;
}

.eventos-titulo h2 {
  grid-row: 1;
}

.content-evento {
  text-align: left;
  font-size: larger;
  color: dimgray;
  display: block;
}

.content-evento-hidden {
  display: none;
}

/*
Estilos temáticos
*/
.bodyHome-basic {
  background-color: #253237;
}

.bodyHome-aesthetic {
  background-color: #66545e;
}

.navbar-principal {
  width: '40%';
  float: 'left';
  display: grid;
  position: relative;
  grid-template-columns: .5fr .4fr .2fr .5fr;
  min-height: 115px;
  padding-bottom: .3em;
}

.navbar-principal-static {
  background-color: black;
}

.navbar-principal-basic {
  background-color: #253237
}

.navbar-principal-basic-dark {
  background-color: #cde2e3;
}

.navbar-principal-aesthetic-dark {
  background-color: #f9e2da;
}

.navbar-principal-aesthetic {
  background-color: #66545e;
}

.navbar-principal.navbar-principal-basic h2 {
  position: absolute;
  top: 5px;
  left: 7rem;
  height: 100%;
  min-height: 110px;
  color: white;
}

.navbar-principal.navbar-principal-aesthetic h2 {
  position: absolute;
  top: 5px;
  left: 7rem;
  height: 100%;
  min-height: 110px;
  color: white;
}

.navbar-principal.navbar-principal-basic-dark h2 {
  position: absolute;
  top: 5px;
  left: 7rem;
  height: 100%;
  min-height: 110px;
  color: #1b2f30;
}

.navbar-principal.navbar-principal-aesthetic-dark h2 {
  position: absolute;
  top: 5px;
  left: 7rem;
  height: 100%;
  min-height: 110px;
  color: #331308;
}

.navbar-principal a {
  grid-column: 1;
  max-width: 60%;
}

.search-bar-main-basic {
  background: #253237;
  max-width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar-main-basic p {
  color: white;
}

.search-bar-main-basic-dark {
  background: #cde2e3;
  max-width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar-main-basic-dark p {
  color: #1b2f30;
}

.search-bar-main-static {
  background: black;
  max-width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar-main p {
  text-align: right;
}

.search-bar-main-icon-basic {
  background-color: #253237;
  color: white;
}

.search-bar-main-icon-aesthetic {
  background-color: #66545e;
  color: white;
}

.search-bar-main-icon-basic-dark {
  background-color: #cde2e3;
  color: #1b2f30
}

.search-bar-main-icon-aesthetic-dark {
  background-color: #f9e2da;
  color: #331308;
}

.search-bar-main-icon-static {
  background-color: black;
}

.search-bar-main-aesthetic {
  background: #66545e;
  max-width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar-main-aesthetic p {
  color: white;
}

.search-bar-main-aesthetic-dark {
  background: #f9e2da;
  max-width: 40%;
  position: absolute;
  top: 5px;
  right: 5px;
}

.search-bar-main-aesthetic-dark p {
  color: #331308;
}

/*
Estilo de footer
*/
.footer-site {
  max-height: 350px;
}

.footer-site-black {
  background-color: black;
}

.footer-list-black {
  background-color: red;
}

.category-images-green {
  background-color: #abffd2
}

.first-category-darkgreen {
  background-color: #205a17;
}

.second-category-brown {
  background-color: #540000;
}

.third-category-blue {
  background-color: #00005e
}

.fourth-category-purple {
  background-color: #4d3668;
}

.fifth-category-lightbrown {
  background-color: #68341c;
}

.sixth-category-lightgreen {
  background-color: #528c00;
}

.first-layer-home-basic {
  background-color: #7291d8;
}

.second-layer-home-basic {
  background-color: #1f3871;
}

.third-layer-home-basic {
  background-color: #eaeff9;
}

.first-layer-home-aesthetic {
  background-color: #eea990;
}

.second-layer-home-aesthetic {
  background-color: #eea990;
}

.third-layer-home-aesthetic {
  background-color: #aa6f73;
}

.main-body-categories-basic {
  background-color: #274546;
}

.main-body-categories-aesthetic {
  background-color: #66545e;
}

.first-layer-category-basic {
  background-color: #c2dcdd;
}

.second-layer-category-basic {
  background-color: #a1c9cb;
}

.third-layer-category-basic {
  background-color: #5fa3a7;
}

.fourth-layer-category-basic {
  background-color: #5fa3a7;
}

.fifth-layer-category-basic {
  background-color: #274546;
}

.first-layer-category-aesthetic {
  background-color: #fcf3e2;
}

.second-layer-category-aesthetic {
  background-color: #f6e0b5;
}

.third-layer-category-aesthetic {
  background-color: #f5cbbc;
}

.fourth-layer-category-aesthetic {
  background-color: #eea990;
}

.fifth-layer-category-aesthetic {
  background-color: #66545e;
}

.video-set-white {
  background-color: white;
}

.category-cards-basic {
  background-color: #213a3b;
}

.category-cards-aesthetic {
  background-color: #4b3f40;
}

.category-explore-desc-white {
  color: white;
}

.video-block-tool-white {
  background: white;
}

.video-block-paragraph-white {
  background-color: white;
  color: black;
}

.video-block-paragraph-white a {
  color: black;
}

.video-block-linkfwd-black {
  color: black;
  background-color: white;
}

.header-video-block-black {
  color: black;
}

.header-control-temas-basic,
.header-control-temas-aesthetic {
  max-width: 5%;
  grid-column: 3;
}

.header-control-temas-basic button {
  border: none;
  outline: none;
  color: white;
  background-color: #253237;
  width: 30px;
  font-size: x-large;
  text-align: right;
  margin-top: .7rem;
}

.header-control-temas-basic-dark,
.header-control-temas-aesthetic-dark {
  max-width: 5%;
  grid-column: 3;
}

.header-control-temas-basic-dark button {
  border: none;
  outline: none;
  color: #1b2f30;
  background-color: #cde2e3;
  width: 30px;
  font-size: x-large;
  text-align: right;
  margin-top: .7rem;
}

.header-control-temas-aesthetic button {
  border: none;
  outline: none;
  color: white;
  background-color: #66545e;
  width: 30px;
  font-size: x-large;
  text-align: right;
  margin-top: .7rem;
}

.header-control-temas-aesthetic-dark button {
  border: none;
  outline: none;
  color: #331308;
  background-color: #f9e2da;
  width: 30px;
  font-size: x-large;
  text-align: right;
  margin-top: .7rem;
}

.container-tematica {
  grid-column: 2;
  max-width: 280px;
}

.control-temas-claros-oscuros {
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1260px) {
  .container-tematica {
    display: none;
  }

  .header-control-temas-aesthetic {
    display: none;
  }

  .header-control-temas-basic {
    display: none;
  }
}

@media screen and (max-width:900px) {
  .navbar-principal h2 {
    display: none;
  }

}

.tematica-sitio {
  min-width: 200px;
  margin-left: 20%;
  min-height: 118px;
  background-color: white;
  color: black;
  font-size: small;
  border: 1px solid black;
}

.tematica-sitio.tematica-hidden {
  display: none;
}

.tematica-sitio.tematica-show {
  display: block;
  z-index: 99999;
  background-color: white;
  height: 120px;
  width: 250px;
}

.close-tematica {
  width: 12px;
  height: 12px;
  text-align: right;
  margin-left: 232px;
}

.content-tematica-sitio {
  display: grid;
  grid-template-columns: .2fr 1fr .2fr;
}

.control-paletas {
  width: 12px;
  height: 12px;
}

.control-paletas.left {
  text-align: left;
  padding: 2px;
  margin-top: 30px;
}

.control-paletas.right {
  text-align: right;
  padding: 2px;
  margin-top: 30px;
}

.color-paleta {
  width: 40px;
  height: 100%;
}

.contenedor-colores-paleta {
  margin: 0 0 0 0;
  min-height: 75px;
  display: grid;
  grid-template-columns: .20fr .20fr .20fr .20fr .20fr;
}

/*
Pagina autobiograficos
*/
.options-autobiograficos-reproduccion-basic {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  position: relative;
  min-height: 70px;
  width: 97%;
}

.options-autobiograficos-reproduccion-aesthetic {
  display: grid;
  grid-template-columns: auto auto;
  overflow: hidden;
  position: relative;
  min-height: 70px;
  width: 97%;
}

.options-autobiograficos-reproduccion-basic button.autobiografico-reprod-white {
  background-color: #b5c5eb;
  color: #2c3e50;
  border: none;
  width: 100%;
  height: 60px;
  position: absolute;
  top: -30px;
  transition: .7s ease;
  text-align: center;
}

.options-autobiograficos-reproduccion-aesthetic button.autobiografico-reprod-white {
  background-color: #dcc4c6;
  color: #2c3e50;
  border: none;
  width: 100%;
  height: 60px;
  position: absolute;
  top: -30px;
  transition: .7s ease;
  text-align: center;
}

.options-autobiograficos-reproduccion-basic button:nth-child(1) {
  grid-column: 1;
  width: 49%;
  box-shadow: 5px 0px 0px #333;
  margin-right: 5px;
}

.options-autobiograficos-reproduccion-aesthetic button:nth-child(1) {
  grid-column: 1;
  width: 49%;
  box-shadow: 5px 0px 0px #333;
  margin-right: 5px;
}


.options-autobiograficos-reproduccion-basic button:nth-child(2) {
  grid-column: 2;
  width: 98%;
  box-shadow: -5px 0px 0px #333;
}

.options-autobiograficos-reproduccion-aesthetic button:nth-child(2) {
  grid-column: 2;
  width: 98%;
  box-shadow: -5px 0px 0px #333;
}

.options-autobiograficos-reproduccion-basic button:nth-child(1) :hover {
  width: 50%;
}

.options-autobiograficos-reproduccion-aesthetic button:nth-child(1) :hover {
  width: 50%;
}

.options-autobiograficos-reproduccion-basic button:nth-child(2):hover {
  width: 100%;
}

.options-autobiograficos-reproduccion-aesthetic button:nth-child(2):hover {
  width: 100%;
}


.options-autobiograficos-reproduccion-basic button.autobiografico-reprod-white:hover {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #333;
  cursor: pointer;
}

.options-autobiograficos-reproduccion-aesthetic button.autobiografico-reprod-white:hover {
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  border-radius: 0px;
  box-shadow: 0px 5px 0px #333;
  cursor: pointer;
}



.link-relatos-reprod-white {
  text-decoration: none;
  color: #333;
}

.link-relatos-reprod-white p {
  box-shadow: 0 3px #333;
  max-width: 20%;
}

.header-relato-reprod {
  font-size: xx-large;
  margin: 0 2rem 0 0;
}

.autobiografico-main-basic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  height: 100%;
  margin-top: 2em;
}

.autobiografico-main-aesthetic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  height: 100%;
  margin-top: 1em;
}

.autobiografico-main-basic button {
  cursor: pointer;
}

.autobiografico-main-basic .autobiografico-main-category {
  background-color: #2c664f;
  color: white;
  max-width: 100%;
  grid-column: 1;
  margin: 0 5px;
  text-align: left;
  max-height: 100vh;
}

.autobiografico-main-aesthetic .autobiografico-main-category {
  background-color: #7b494c;
  color: white;
  max-width: 100%;
  grid-column: 1;
  margin: 0 5px;
  text-align: left;
  max-height: 100vh;
}

.autobiografico-main-menu-header {
  text-align: right;
  padding: 1rem;
}

.autobiografico-main-menu-edit {
  height: 7%;
}

.autobiografico-list-cat-entry {
  height: 30px;
  padding: 1rem;
  position: relative;
}

.autobiografico-list-cat-entry a.white {
  text-decoration: none;
  color: white;
}

.autobiografico-list-cat-entry img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 1.5em;
  transition: all .2s ease-in-out;
}

.autobiografico-list-cat-entry img:hover {
  transform: scale(2.2);
}

.autobiografico-main-basic .autobiografico-main-list {
  grid-column: 2;
  color: black;
  max-width: 100%;
  background-color: #cbe8dd;
  margin: 5px 0;
  max-height: 100vh;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.autobiografico-main-aesthetic .autobiografico-main-list {
  grid-column: 2;
  color: black;
  max-width: 100%;
  background-color: #f7d7cb;
  margin: 5px 0;
  max-height: 100vh;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.autobiografico-main-basic .autobiografico-main-list::-webkit-scrollbar {
  display: none;
}

.autobiografico-main-aesthetic .autobiografico-main-list::-webkit-scrollbar {
  display: none;
}

.autobiografico-main-category .autobiografico-main-list-category {
  border-bottom: 5px solid white;
  max-height: 70%;
}

.autobiografico-main-list-tags-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.autobiografico-main-list-tags-header .form-input input {
  border-radius: 5px;
  outline: none;
  border: none;
  width: 80%;
  margin: 1em;
}

.autobiografico-main-list-tags-header h3 {
  grid-column: 1;
  margin-left: 1em;
}

.autobiografico-main-list-tags-header .form-input {
  grid-column: 2;
}

.autobiografico-main-category .autobiografico-main-list-tags {
  max-height: 28%;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.autobiografico-main-list-tags-full {
  max-height: 90%;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.autobiografico-entry-header {
  display: grid;
  grid-template-columns: .2fr auto auto;
  position: relative;
}

.autobiografico-entry-header div:nth-child(1) {
  grid-column: 1;
}

.autobiografico-entry-header div:nth-child(2) {
  grid-column: 2;
}

.autobiografico-entry-header div:nth-child(3) {
  grid-column: 3;
}

.autobiografico-list-cat-entry a:nth-child(1) {
  transition: all 1s ease-in-out;
  display: block;
}

.autobiografico-list-cat-entry a:nth-child(1):hover {
  transform: translate(30px);
  opacity: 0.8;
}

.autobiografico-list-cat-entry a:nth-child(2):hover {
  transform: scale(1.2);
}

.autobiografico-header-related img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  position: absolute;
  top: -45px;
  right: .5em;
  transition: all .2s ease-in-out;
}

@media screen and (max-width:1260px) {
  .autobiografico-header-related span {
    display: none;
  }
}

.autobiografico-header-related img:hover {
  transform: scale(1.3)
}

.tag-autobiografico-more {
  position: relative;
  bottom: 2px;

  color: white;
  border: 2px solid white;
  background-color: cornflowerblue;
  height: 26px;
  text-align: center;
  border-radius: 10px;
  width: 90px;
  display: block;
  margin: auto;
  margin-top: 2rem;

}

.autobiografico-main-category .autobiografico-main-list-tags::-webkit-scrollbar {
  display: none;
}

.autobiografico-main-category .autobiografico-main-list-tags-full::-webkit-scrollbar {
  display: none;
}

.autobiografico-menu-collapsible span {
  margin: 0 1rem;
  display: block;
  cursor: pointer;
}

.tag-autobiografico-search {
  color: white;
  border: 2px solid white;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 0 5px;
  width: auto;
}

.autobiografico-entry {
  border-bottom: 5px solid white;
  padding-left: 1em;
}

.autobiografico-entry-header {
  margin: 10px;
}

.autobiografico-entry-content {
  margin: 10px;
}

.autobiografico-main-list-entries {
  min-height: 50px;
  text-align: right;
  padding: 1em;
}

.autobiografico-main-list-entries-header {
  color: white;
  border: 2px solid white;
  background-color: cornflowerblue;
  height: 26px;
  text-align: center;
  border-radius: 10px;
  width: 90px;
  margin-top: 2rem;
}

.autobiografico-main-menu {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  height: 100%;
}

.autobiografico-main-list-category-collapsed {
  height: 0;
  display: none;
}

.autobiografico-main-menu div:nth-child(1) {
  grid-column: 1;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.autobiografico-main-menu div:nth-child(2) {
  grid-column: 2;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.autobiografico-main-menu-entry.inactive {
  transition: all .5s ease-in-out;
}

.autobiografico-main-menu div .autobiografico-main-menu-entry:nth-child(1) {
  grid-column: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 0 0 3rem;
}

.autobiografico-main-menu div .autobiografico-main-menu-entry:nth-child(2) {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 0 0 .7rem;
  margin: 0 0 0 3.25rem;
}

@media screen and (max-width:1450px) {
  .autobiografico-main-menu div .autobiografico-main-menu-entry:nth-child(1) {
    padding: 0 0 0 1rem;
  }

  .autobiografico-main-menu div .autobiografico-main-menu-entry:nth-child(2) {
    padding: 0 0 0 .2rem;
    margin: 0 0 0 1.25rem;
  }
}

@media screen and (max-width:1100px) {
  .autobiografico-main-menu-entry span.content-header-main-menu-entry {
    display: none;
  }
}

.autobiografico-main-menu .autobiografico-main-menu-entry button {
  border: none;
  outline: none;
  background: transparent;
  color: white;
  box-shadow: 0px 3px white;
  float: left;
  transition: all 1s ease-in-out;
}

.autobiografico-main-menu .autobiografico-main-menu-entry button:hover {
  transform: scale(1.15);
  box-shadow: none;
}

.autobiografico-main-editing {
  min-height: 640px;
}

.autobiografico-main-menu .autobiografico-main-menu-entry span {
  margin-right: 3rem;
}

.autobiografico-main-menu .autobiografico-main-menu-entry button span {
  font-size: 16px;
  margin: 0 0 0 1.5em;
}

.autobiografico-main-menu-signal {
  margin-top: -50px;
  max-width: 45px;
}

.autobiografico-main-menu-entry.inactive:hover {
  opacity: 0.7;
  transform: translate(-20px)
}

.autobiografico-main-menu-entry.active {
  background: #203b12;
}

.autobiografico-main-menu-entry.inactive {
  background-color: transparent;
}

/*
Página de eventos
*/


.border {
  border: 15px solid white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.eventos-main-container{
  background: #feecb8
}
.eventos-main-calendar{
  display: grid;
  grid-template-columns:3em 3em 3em 3em 3em 3em 3em;
  width:25%;
}
.eventos-main-calendar .title-calendar{
  padding: 0rem .5rem;
  min-height: 60px;
  width:60px;
}
.eventos-main-calendar .title-calendar .content-title-calendar{
  display: flex;
  align-items: baseline;
  padding:  0 1rem;
  text-align: right;
  text-transform: uppercase;
}
.eventos-main-calendar-content {
  display: grid;
  grid-template-columns:3em 3em 3em 3em 3em 3em 3em;
  width:25%;
  
}
.calendario-eventos-principal{
  background-color: white;
  min-width:21em;
  padding:2em 2em 2em 0em;
  border-radius: 0em 0em 1.5em 0em;
  display: none;
}
.calendario-eventos-principal.active{
  display: block;
}
.calendario-eventos-principal header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}


.calendario-eventos-principal header i.icons {
  padding: 0.4rem;

}

.eventos-main-calendar-content .day {
  padding: 0rem .5rem;
  min-height: 50px;
  width:3em;
}
.eventos-main-calendar-content .day.active {
  padding: 0rem .5rem;
  min-height: 50px;
  width:3em;
  background-color: lightseagreen;
  color:white;
}



.eventos-main-calendar .date {
  flex: 0 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 2rem 0 0;
  text-align: right;
}
.calendario-eventos-principal {
  width:25%;
}
.calendario-eventos-principal header p{
  text-align: center;
  font-size: 1.5rem;
  font-size: 1.5rem;
  margin:0 auto;
}
.mes-evento-main{
  height: 200vh;
  position:relative;
  width:100%;
  right: 0;
}
.mes-evento-main h1{
  position: absolute;
  top:0;
  right:.1em;
  font-size: 120px;
}
.mes-evento-main.ene{
  background: linear-gradient(to right,white,#E5E6EB);
}
.mes-evento-main.feb{
  background: linear-gradient(to right, white, #B3CDE0);
}
.mes-evento-main.mar{
  background: linear-gradient(to right,white, #99CC33);
}
.mes-evento-main.abr{
  background: linear-gradient(to right, white, #FFCC00);
}
.mes-evento-main.may{
  background: linear-gradient(to right, white, #FF9966);
}
.mes-evento-main.jun{
  background: linear-gradient(to right, white, #FF4D00);
}
.mes-evento-main.jul{
  background: linear-gradient(to right, white, #B48811);
}
.mes-evento-main.ago{
  background: linear-gradient(to right, white, #967259);
}
.mes-evento-main.sep{
  background: linear-gradient(to right, white, #DC6900);
}
.mes-evento-main.oct{
  background: linear-gradient(to right, white, #FF7B7B);
}
.mes-evento-main.nov{
  background: linear-gradient(to right, white, #A32020);
}

.mes-evento-main.dic{
  background: linear-gradient(to right, white,#5D5D5D);
}
.mes-evento-main .listado-min-eventos .miniatura-evento{
  max-width: 180px;
  display: block;
  background-color: white;
}
.mes-evento-main .listado-min-eventos .miniatura-evento img{
width:100%;
max-width: 180px;
}
.mes-evento-main .listado-min-eventos .miniatura-evento p{
  background-color: white;
  display: block;
  font-size:larger
}
.mes-evento-main .listado-min-eventos{
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px;
  grid-gap: 2.5rem;
  min-width: 640px;
  position:relative;
  top:50%;
  left:30%;
}
@media screen and (max-width:1190px) {
  .mes-evento-main .listado-min-eventos{
    display: grid;
    grid-template-columns: 110px 110px 110px 110px;
    min-width: 768px;
    position:absolute;
    top:50%;
    left:40%
  }
  .mes-evento-main .listado-min-eventos .miniatura-evento img{
    width:100%;
    max-width:110px;
    }
    .mes-evento-main .listado-min-eventos .miniatura-evento{
      max-width: 110px;
      display: block;
      background-color: white;
    }
    .mes-evento-main .listado-min-eventos .miniatura-evento p{
      background-color: white;
      display: block;
      font-size:small
    }
}
.main-content-this-event{
   height: '85vh';
   background: '#feecb8';
   margin:auto;
   text-align: center;
}
.main-content-this-event h1{
  font-size: xx-large;
}
.main-content-this-event p{
  font-size:medium;
  text-align: left;
  padding: 0 2.5em;
}
.main-content-this-event img{
  width: 400px;

}

/*
Clases del detalle mensual de los eventos
*/


.calendar-detail {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
  padding-bottom:100px;
}
.time-marker-detail{
  margin:.2rem 0;
  padding:.2rem;
  background-color: white;
}
.timeline-detail {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  text-align: right;
}

.container-days-detail{
  overflow-x:auto;
  width:100%;
  grid-column: 2;
  grid-template-columns: 100% 100% 100% 100% 100%;
  gap: 5px;
  display: grid;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.container-days-detail::-webkit-scrollbar {
  display: none;
}
.days-detail {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events-detail {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

// Place on Timeline
.start-9-detail {
  grid-row-start: 4;
}
.start-9_5-detail {
  grid-row-start: 5;
}
.start-10-detail {
  grid-row-start: 6;
}
.start-10_5-detail {
  grid-row-start: 7;
}
.start-11-detail {
  grid-row-start: 8;
}
.start-11_5-detail {
  grid-row-start: 9;
}
.start-12-detail {
  grid-row-start: 10;
}
.start-12_5-detail {
  grid-row-start: 11;
}
.start-13-detail {
  grid-row-start:12;
}
.start-13_5-detail {
  grid-row-start: 13;
}
.start-14-detail {
  grid-row-start: 14;
}
.start-14_5-detail {
  grid-row-start: 15;
}
.start-15-detail {
  grid-row-start: 16;
}
.start-15_5-detail {
  grid-row-start: 17;
}
.start-16-detail {
  grid-row-start: 18;
}
.start-16_5-detail {
  grid-row-start: 19;
}
.start-17-detail {
  grid-row-start: 20;
}
.start-17_5-detail {
  grid-row-start: 21;
}
.start-18-detail {
  grid-row-start: 22;
}
.start-18_5-detail {
  grid-row-start: 23;
}
.start-19-detail {
  grid-row-start: 24;
}
.start-19_5-detail {
  grid-row-start: 25;
}
.start-20-detail {
  grid-row-start: 26;
}
.start-20_5-detail {
  grid-row-start: 27;
}
.start-21-detail {
  grid-row-start: 28;
}
.start-21_5-detail {
  grid-row-start: 29;
}
.start-22-detail {
  grid-row-start: 30;
}
.start-22_5-detail {
  grid-row-start: 31;
}
.start-23-detail {
  grid-row-start: 32;
}
.start-23_5-detail{
  grid-row-start:33;
}
.start-24-detail{
  grid-row-start: 34;
}


.end-9_5-detail {
  grid-row-end: 5;
}
.end-10-detail {
  grid-row-end: 6;
}
.end-10_5-detail {
  grid-row-end: 7;
}
.end-11-detail {
  grid-row-end: 8;
}
.end-11_5-detail {
  grid-row-end: 9;
}
.end-12-detail {
  grid-row-end: 10;
}
.end-12_5-detail {
  grid-row-end: 11;
}
.end-13-detail {
  grid-row-end: 12;
}
.end-13_5-detail {
  grid-row-end: 13;
}
.end-14-detail {
  grid-row-end: 14;
}
.end-14_5-detail {
  grid-row-end: 15;
}
.end-15-detail {
  grid-row-end: 16;
}
.end-15_5-detail {
  grid-row-end: 17;
}
.end-16-detail {
  grid-row-end: 18;
}
.end-16_5-detail {
  grid-row-end: 19;
}
.end-17-detail {
  grid-row-end: 20;
}
.end-17_5-detail {
  grid-row-end: 21;
}
.end-18-detail {
  grid-row-end: 22;
}
.end-18_5-detail {
  grid-row-end: 23;
}
.end-19-detail {
  grid-row-end: 24;
}
.end-19_5-detail {
  grid-row-end: 25;
}
.end-20-detail {
  grid-row-end: 26;
}
.end-20_5-detail {
  grid-row-end: 27;
}
.end-21-detail {
  grid-row-end: 28;
}
.end-21_5-detail {
  grid-row-end: 29;
}
.end-22-detail {
  grid-row-end: 30;
}
.end-22_5-detail {
  grid-row-end: 31;
}
.end-23-detail {
  grid-row-end: 32;
}
.end-23_5-detail {
  grid-row-end: 33;
}
.end-24-detail{
  grid-row-end: 34;
}
.end-24_5-detail{
  grid-row-end: 35;
}
// Event

.title-detail {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.events-detail {
  border: 1px solid var(--eventBorderColor);
  border-radius: 5px;
  margin: 0 0.5rem;
  font-size: small;
}

.space-detail,
.date-detail {
  height: 60px
}

.day-detail.with_event .date-detail{
   text-decoration: underline;
}


.corp-fi-detail {
  background: var(--eventColor1);
}

.ent-law-detail {
  background: var(--eventColor2);
}

.writing-detail {
  background: var(--eventColor4);
  margin: 0 .2rem;
  cursor: pointer;
}

.securities-detail {
  background: var(--eventColor4);
}

.date-detail {
  display: flex;
  gap: 0em;
  justify-content: center;
}

.date-num-detail {
  font-size: 3rem;
  font-weight: 600;
  display: inline;
  padding:0 .2em;
}

.date-day-detail {
  display: inline;
  font-size: 3rem;
  font-weight: 100;
}
.switch-week{
  display: grid;
  margin:auto;
  justify-content: center;
  gap:1em;
  grid-template-columns: 200px 200px 200px 200px 200px;
}
.week{
  border-radius: 10px;
  background-color: white;
  cursor:pointer;
}
.week.activa{
  background-color: lightgreen;
}


/*
clases de los modales
*/
.wrapper{
  background-color: white;
  border-radius: 7px;
  border:1px solid gray;
}
.wrapper .close{
  float:right;
  border:none;
  outline: none;
  background-color: white;
  margin-right: .9em;
  cursor:pointer;

}
.wrapper .box-title{
   text-align: center;
}
.wrapper .box-header{
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin:-.9em 0;
}
.wrapper .box-dialog{
  width:100%;
}
.wrapper.darkmodal{
  background-color: black;
  border-radius: 7px;
  border:1px solid lightgray;
}
.wrapper.darkmodal .close{
  float:right;
  border:none;
  outline: none;
  background-color: black;
  color:white;
  margin-right: .9em;
  cursor: pointer;

}
.wrapper.darkmodal .box-header{
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin:-.9em 0;
  background-color: black;
  color:white;
}
.wrapper.darkmodal .box-content{
  padding:1em 1.5em;
  background-color: black;
  color:white;
}

/* width */
.wrapper.darkmodal::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.wrapper.darkmodal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
.wrapper.darkmodal::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 2px;
}

/* Handle on hover */
.wrapper.darkmodal::-webkit-scrollbar-thumb:hover {
  background: gray;
}
.wrapper.darkmodal dt{
  font-weight: 600px;
  color:darkgray;
  font-size:larger;
}
.background{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 500; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}





