body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

      
.bodyHome { background-color: #253237; }
/*
Estilos de la reproducción individual de videos
*/
.player-container{
  margin:0 2em;
}

.player-individual{
  height: 1200px;
  max-height: 1200px;
  overflow-y: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.player-individual::-webkit-scrollbar{
  display:none;
}
.content-player{
  display:flex
}
.scroll-list{
  max-width:60%;
  margin-left: 2em;
}
.category-player{
  width:40%;
  margin:2em;
  max-height:700px
}
/*
Estilos de las categorías en el reproductor individual de video
*/
.category-wrapper {
  width: 100%;
  height: 100%;
  background: 'white';
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.category-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.category-item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}




